@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body {
  text-align: center;
  /* background-color: #0e141b; */
  color: rgb(65, 65, 65);
  /* color: rgba(224, 230, 235, 0.89); */
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  overflow: hidden;
  font-display: swap;
}

#clock {
  position: relative;
  padding: auto;
}


#toggleSeconds {
  position: absolute;
  left: 0;
  bottom: 0;
  text-decoration: underline;
  font-weight: bold;
  background-color: transparent;
  border: none;
  pointer-events: all;
}

#rotate {
  position: absolute;
  right: 0;
  bottom: 0;
  text-decoration: underline;
  font-weight: bold;
  background-color: transparent;
  border: none;
  pointer-events: all;
}

.column,
.colon {
  display: inline-block;
  vertical-align: top;
  font-size: 86px;
  line-height: 86px;
}

.column {
  transition: transform 300ms;
}

.colon {
  transition: transform 300ms;
  transform: translateY(calc(50vh - 43px));
}

.colon:after {
  content: ":";
}

.num {
  transition: opacity 500ms, text-shadow 100ms;
  opacity: 0.025;
}

.num.visible {
  opacity: 1;
  text-shadow: 1px 1px 0px darkgray;
  /* text-shadow: 1px 1px 0px #336699; */
}

.num.close {
  opacity: 0.35;
}

.num.far {
  opacity: 0.15;
}

.num.distant {
  opacity: 0.1;
}
